.button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px #666666;
  -moz-box-shadow: 0px 1px 4px #666666;
  box-shadow: 0px 1px 4px #666666;
  font-family: Courier New;
  color: #fafafa;
  font-size: 25px;
  background: #09334f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
