<!DOCTYPE html> 
<html> 
  <head> 
    <title> Leo's Site </title> 
    <link href="static/menu_title.css" rel="stylesheet" type="text/css">
    <style>
      body {
        background-image: url("static/images/menu.jpg");
        background-size: cover;
      }
    </style>      
  </head> 
  <body> 
      <h1 class="main_page"> MENU </h1>  
    <div>
      <button class="button" onclick="location.href='/redirect/search_game'"> Seach Game By Genre </button>
      <button class="button" onclick="location.href='/redirect/search_player'"> Search Player By Genre </button>
      <button class="button" onclick="location.href='/redirect/add_player'"> Add Player </button>
      <button class="button" onclick="location.href='/redirect/add_game'"> Add Game </button>
      <button class="button" onclick="location.href='/redirect/view_all_players'"> View All Players </button>
      <button class="button" onclick="location.href='/redirect/view_all_games'"> View All Games </button>
    <div/>
  </body> 
</html>
