<!DOCTYPE html> 
<html> 
  <head> 
    <title> Leo's Site </title> 
    <link href="static/menu_title.css" rel="stylesheet" type="text/css">
    <style>
      body {
        background-image: url("static/images/menu.jpg");
        background-size: cover;
      }
    </style>      
  </head> 
  <body> 
      <h1 class="main_page"> MENU </h1>  
    <div class="button_container">
      <button class="button add_button" onclick="location.href='/redirect/add_player'"> Add Player </button>
      <button class="button add_button" onclick="location.href='/redirect/add_game'"> Add Game </button>
      <button class="button add_button" onclick="location.href='/redirect/add_review'"> Add Review </button>
      <button class="button view_button" onclick="location.href='/redirect/view_all_players'"> View All Players </button>
      <button class="button view_button" onclick="location.href='/redirect/view_all_games'"> View All Games </button>
      <button class="button view_button" onclick="location.href='/redirect/view_all_reviews'"> View All Reviews </button>
      <button class="button search_button" onclick="location.href='/redirect/search_game'"> Seach Game By Genre </button>
      <button class="button search_button" onclick="location.href='/redirect/search_player'"> Search Player By Genre </button>
    </div>
    <div class="welcome_box">
      <div>
        <h2> Welcome to Leonardo Guzman's game review website! </h2>
      </div>
      <p> The website is designed for composing critiques of video games. To submit a new review, it is necessary to complete two fundamental actions: firstly, registering as a player on the website, and secondly, adding the specific game title for which you wish to provide a review. The following steps will explain how to add a review to the website. </p>
      <p> Step 1: Add a player by clicking in the "Add Player" button in the menu, enter all the fields and hit "Submit". Now, go back to the main menu by hitting "Menu". If the player already exists you can skipt this step. </p>
      <p> Step 2: Add a game by clicking in the "Add Game" button in the menu, enter all the fields and hit "Submit". Now, go back to the main menu by hitting "Menu". If the game already exists you can skip this step.</p> 
      <p> Step 3: Add your review by clicking in the "Add Review" button, select the player and game, fill the other fields and hit "Submit".</p>
      <p> And you are done! Congratulation you added the review of your game. You can check your player info, game, and review by hitting: "View Player", "View Game" and "View Review" in the Menu. </p>
      <p> You can also search a player or game by genre using the "Search Player By Genre" and "Search Game By Genre" buttons. </p>
      </div>
  </body> 
</html>
