<!DOCTYPE html> 
<html> 
  <head> 
    <title>All Players</title>
    <link href="static/search_title.css" rel="stylesheet" type="text/css">
  </head> 
  <body> 
    <h1 class="all_players">Players</h1>
    <p>Showing all the players in the database</p>
    <button id="button2" type="button" onclick="location.href='/'">Menu</button>
    {% if players %}
    <ul>
        {% for player in players %}
              <div class="player">
                <strong>Name:</strong> {{player[0]}} <br>
                <strong>Email:</strong> {{player[1]}} <br>
                <strong>Gamertag:</strong> {{player[2]}}
              </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% if error_message %}
      <p style="color: red;">{{ error_message }}</p>
    {% endif %}
  </body> 
</html>